{% extends "base.html" %}

{% load static %}
{% load humanize%}
{% block content %}





 <section id="profile" class="py-3">
     
       <!-- Profile -->
       <div class="row">
           <div class="col-md-8 mx-auto">
               <h3>Order Detail</h3>
               <hr>
            <ul class="list-group">
                <li class="list-group-item">Order Id: <strong>#ECOMORE_{{orders.id}}</strong> </li>  
                <li class="list-group-item"> Order Status:<strong>{{orders.order_status}}</strong></li>
                <li class="list-group-item">Order Date:<strong>{{orders.created_at}} age</strong></li>
                <li class="list-group-item"> Customer Name: <strong>{{orders.ordered_by}}</strong></li>
                <li class="list-group-item">Customer Email: <strong>{{orders.email}}</strong></li>
                <li class="list-group-item">Customer phone: <strong>{{orders.mobile}}</strong></li>
                <li class="list-group-item">Customer Address: <strong>{{orders.shipping_address}}</strong></li>
            </ul>

           </div>
               <h4 class="display-4 text-center">Order Item</h4>
               <table class="table table-center">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Image</th>
                        <th>Item</th>
                        <th>Rate</th>
                        <th>Quality</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% if orders %}
                    {% for order in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td> <img src="{{ url order.product.image }}" alt="img-fluid" width="100"></td>
                        <td><a href="{% url 'singleproduct' order.product.slug %}"></a></td>
                        <td>{{order.order_status}}</td>
                        <td><a href="{ url 'order.details' order.id}" target="_blank">{{order.product.title}}</a></td>
                        <td>{{order.rate}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.subtotal}}</td>
                    </tr>
                  
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="text-end"><h3>Total: {{orders.total}}</h3></td>
                    </tr>
                    {% else %}
                    <tr>
                        <p class="lead bg-danger">No Order Yet</p>
                    </tr>                           
                      {% endif %}
             
                    
                </tbody>
               </table>
                   
               

           </div>
       </div>

     </div>

 </section>
          






  
{% endblock content %}