{% extends "base.html" %}

{% load static %}
{% load humanize%}
{% block content %}


<section id="featured" class="py-4 my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <h3>Password Reset sent</h3>
                <p class="lead">
                    We've emailed you instructions for settings you password  
                </p>
                <p class="lead">
                    if you did not get a mail, make sure you entered a correct email 
                    
                </p>
            </div>
        </div>
    </div>

</section>



{% endblock content %}